/* Blog content styling - matching home page aesthetics */

.blog-content {
  @apply font-serif font-normal antialiased text-gray-800;
  letter-spacing: -0.003em;
  text-rendering: optimizeLegibility;

  counter-reset: h2;
}

.blog-content pre {
  @apply bg-gray-50 rounded-2xl p-6 overflow-x-auto my-6 text-wrap;
}

.blog-content pre code {
  @apply bg-transparent p-0 text-sm font-mono;
}

.blog-content code {
  @apply bg-gray-100 px-2 py-1 rounded text-sm font-mono;
}

.blog-content h1,
.blog-content h2,
.blog-content h3,
.blog-content h4,
.blog-content h5,
.blog-content h6 {
  @apply font-sans;
}

.blog-content h1 {
  @apply text-3xl md:text-3xl font-bold tracking-tight mt-12 mb-6;
}

.blog-content h2,
.blog-content h3,
.blog-content h4 {
  position: relative;
}

.blog-content a.heading-anchor {
  position: absolute;
  right: 0rem;
  top: 6px;
  color: #999;
  opacity: 0;
  transition: opacity 0.2s ease;
  cursor: pointer;
  text-decoration: none;
  font-weight: normal;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 1.5rem;
}

.heading-anchor:hover,
.blog-content h2:hover .heading-anchor,
.blog-content h3:hover .heading-anchor,
.blog-content h4:hover .heading-anchor {
  opacity: 1;
  color: #666;
}

.blog-content h2 {
  @apply text-2xl md:text-2xl font-bold tracking-tight mt-10 mb-5;
  counter-reset: h3;
}

.blog-content h2::before {
  counter-increment: h2;
  content: counter(h2) ". ";
}

.blog-content h3 {
  @apply text-xl font-bold tracking-tight mt-8 mb-4;
  counter-reset: h4;
}

.blog-content h3::before {
  counter-increment: h3;
  content: counter(h2) "." counter(h3) " ";
}

.blog-content h4 {
  @apply text-lg font-bold tracking-tight mt-8 mb-4;
  counter-reset: h5;
}

.blog-content h4::before {
  counter-increment: h4;
  content: counter(h2) "." counter(h3) "." counter(h4) " ";
}

.blog-content ul {
  @apply my-6 space-y-3;
}

.blog-content ol {
  @apply my-6 space-y-3;
}

.blog-content li {
  @apply text-xl leading-relaxed list-inside;
}

.blog-content ul li {
  @apply list-disc;
}

.blog-content ol li {
  @apply list-decimal;
}

.blog-content p {
  @apply text-xl leading-relaxed my-6;
}

.blog-content a {
  @apply text-black font-medium hover:text-gray-600 transition-colors duration-300 underline underline-offset-4;
}

.blog-content blockquote {
  @apply border-l-2 border-gray-300 pl-6 italic my-8 text-gray-500;
}

.blog-content strong {
  @apply font-semibold text-gray-900;
}

